:host {
  .nav {
    position: fixed;
    padding: 32px 0 16px;
    top: 0;
    z-index: 1;
    max-width: inherit !important;
    width: 100%;
    background-color: #000;
    border-bottom: 1px solid #ffbd39;
    .logo {
      font-size: 20px;
      font-weight: bold;
      line-height: 20px;
      letter-spacing: 8px;
      a {
        text-decoration: none;
        color: #fff;
      }
      &:hover {
        cursor: pointer;
      }
    }
    .nav-items {
      height: 100%;
      align-items: end;
      .nav-link {
        color: #ffbd39;
        font-weight: bold;
        text-align: right;
        padding: 0px;
        &:hover {
          cursor: pointer;
          color: #999999;
        }
      }
    }
  }
  .resume-wrap {
    width: 100%;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    .date {
      font-size: 26px;
      color: #ffbd39;
    }
    .position {
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
  #home-section {
    padding-top: 25%;
    .welcome-text {
      font-size: 60px;
      margin-bottom: 0px;
      padding-bottom: 0px;
      text-align: right;
    }
  }

  #note-section {
    padding-top: 65%;
  }

  section {
    position: relative;
    min-height: 100vh;
    padding-top: 10%;
    .btn-download {
      font-weight: bold;
      padding: 12px;
    }
  }

  #about-section {
    padding-top: 20%;
  }

  #resume-section {
    .left {
      .resume-wrap {
        text-align: right;
      }
    }
    .right {
      padding-top: 10%;
    }
  }

  .shadow {
    position: absolute;
    top: 40pxpx;
    right: 0;
    left: 0;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.1);
    z-index: -1;
    font-weight: 900;
  }

  .project {
    width: 100%;
    height: 285px;
    margin-bottom: 30px;
    position: relative;
    z-index: 0;
  }

  @media (max-width: 767.98px) {
    .project.img-2 .text {
      max-width: 100%;
      opacity: 1;
    }
    .project.img-2 .text span {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  .project .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0;
    background: #000;
    z-index: -1;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  @media (max-width: 767.98px) {
    .project .overlay {
      opacity: 0.2;
    }
  }
  .project .text {
    max-width: 80%;
    z-index: 1;
    opacity: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    h3 {
      color: #fff;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    span {
      color: rgba(255, 255, 255, 0.8);
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
      font-weight: 600;
    }
    .btn-group {
      a {
        margin: 8px;
      }
    }
  }

  @media (max-width: 767.98px) {
    .project .text {
      opacity: 1;
      span {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
  .project:hover .overlay,
  .project:focus .overlay {
    opacity: 0.9;
  }
  .project:hover .text,
  .project:focus .text {
    opacity: 1;
  }

  #footer {
    font-size: 16px;
    padding: 32px 0;
    z-index: 1;
    max-width: inherit !important;
    width: 100%;
    border-top: 1px solid #ffbd39;
    a {
      text-decoration: none;
      color: #999999;
    }
    .left {
      text-align: right;
      i {
        text-align: right;
      }
    }
    .right {
      i {
        text-align: left;
      }
    }
    i {
      width: 24px;
      color: #999999;
    }
  }
}
